.Users{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.namePage{
    text-align: center;
    font-size: 24px;
    font-family: "Arial Black", sans-serif;
    font-style: unset;
    margin-bottom: 5px;
    color: #027ef9;
}