.App {
  text-align: center;
}


h2{
  background: silver;

}

.container{
  display: flex;
  justify-content: space-around
}

.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}